<div class="footer-component">
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <div class="mb-1">
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" v-bind:href="linkedinURL" role="button"
        target="_blank" ><b-icon icon="linkedin"></b-icon></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" v-bind:href="githubURL" role="button"
        target="_blank" ><b-icon icon="github"></b-icon></i
         ></a>

      </div>
      <!-- Section: Social media -->     
        
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      {{copyright}} <a class="text-white" v-bind:href="websiteURL" target="_blank">{{website}}</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>

