.filter-component {

  padding: 25px;
  background-color:rgba(33, 37, 41, 1);
  margin-bottom: 30px;

  .autocomplete-results {
        background-color: white;
        padding: 0;
        margin: 0;
        border: 1px solid rgba(33, 37, 41, 1);
        height: 200px;
        min-height: 100px;
        max-height: 300px;
        overflow: auto;
      }
    
      .autocomplete-result {
        list-style: none;
        text-align: left;
        padding: 4px 2px;
        padding-left: 10px;
        cursor: pointer;
      }
    
      .autocomplete-result:hover {
        background-color:rgba(33, 37, 41, 1);
        color: white;
  }
}