<div class="navigation-component">

  <nav class="navbar navbar-expand-lg navbar-dark text-white bg-primary">
    <a class="navbar-brand d-flex align-items-center">
      <img 
        src="@/assets/logo.svg" 
        data-src="@/assets/logo.svg"  
        data-srcset="@/assets/logo.svg" 
        alt="covid-19 logo"
        width="50px" 
        height="50px"
        class="mx-3">
      {{$t(`app.title`)}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li v-for="(item, index) in sortRoutes(routes)" v-bind:key="index">
          <router-link class="nav-link" v-bind:to="item.path">{{$t(`navigation.${item.name}`)}}</router-link>
        </li>
      </ul>
    </div>
  </nav>
    
</div>