.navigation-component {
  
  margin-bottom: 30px;
  
  .navbar{
    padding: 25px;

    a {
                      
      &.router-link-exact-active {
          border-bottom: 1px solid gray;
      }
    }
  }    
}