<div class="table-component">
  
  <table class="table table-striped table-dark">
    <thead>
      <tr v-if="tableData[0]">
        <th scope="col" v-if="isValid(tableData[0].name)">{{$t('table.countryName')}}</th>
        <th scope="col" v-if="isValid(tableData[0].activeCases)">{{$t('table.activeCases')}}</th>
        <th scope="col" v-if="isValid(tableData[0].deaths)">{{$t('table.deaths')}}</th>
        <th scope="col" v-if="isValid(tableData[0].recoveries)">{{$t('table.recoveries')}}</th>
        <th scope="col" v-if="isValid(tableData[0].total)">{{$t('table.total')}}</th>
        <th scope="col" v-if="isValid(tableData[0].date)">{{$t('table.date')}}</th>
        <th scope="col" v-if="isValid(tableData[0].cases)">{{$t('table.case')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="( item, index ) in tableData" v-bind:key="index" v-bind:id="item.id">
        <td v-if="isValid(item.name)">{{item.name}}</td>
        <td v-if="isValid(item.activeCases)">{{item.activeCases}}</td>
        <td v-if="isValid(item.deaths)">{{item.deaths}}</td>
        <td v-if="isValid(item.recoveries)">{{item.recoveries}}</td>
        <td v-if="isValid(item.total)">{{item.total}}</td>
        <td v-if="isValid(item.date)">{{item.date}}</td>
        <td v-if="isValid(item.cases)">{{item.cases}}</td>
      </tr>
    </tbody>
  </table>
</div>

